*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(38, 38, 38);
    margin: 0;
    color: rgb(0, 0, 0);
}
/* Container section */
.container{
    background-color: antiquewhite;
    transform-origin: top left;
    transition: transform .7s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}
.container.show-nav{
    transform: rotate(-20deg);
}
.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle{
    background-color: #00a4bd;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform .5s linear;
}
.container.show-nav .circle{
    transform: rotate(-70deg);
}
.circle button{
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: antiquewhite;
}
.circle button:focus{
    outline: none;
}
.circle button#open{
    left: 57%;
    top: 45%;
}
.circle button#close{
    top: 55%;
    left: 55%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 1s;
}
/* Nav section */
nav{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}
nav ul{
    list-style: none;
    padding-left: 30px;
}
nav ul li{
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform .4s ease-in;
    cursor: pointer;
}
nav ul li i{
    font-size: 20px;
    margin-right: 10px;
}
nav ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);
}
nav ul li + li + li{
    margin-left: 30px;
    transform: translateX(-200%);
}
nav ul li + li + li + li{
    transform: translateX(-250%);
    margin-left: 45px;
}
nav ul li + li + li + li + li{
    transform: translateX(-300%);
    margin-left: 60px;
}
/* Content section */
.content img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    object-fit: cover;
    margin-top: 2rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.content{
    max-width: 1000px;
    heigth: 85vh;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.content h1{
    margin: 0;
}
.content p{
    color: black;
    line-height: 1.5;
}
